
body {
    background-color: #121414;
   
   }
  #home {
    min-height: 100vh;
    background-image: url(../pictures/rest.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }

.navbar {
    background-color: rgba(182, 181, 179, 0.9);
  }
  .navbar-brand {
    margin-left: 10px;

  }
  .responsive-logo {
    width: auto;
    height: 60px; /* Начальная высота логотипа для больших экранов */
    max-height: 100px;
}
  .nav-item {
  margin-left: 60px;
   padding: 0 10px;
   font-family: "Montserrat", sans-serif;
   font-size: 25px;
   text-shadow:  1px 1px 2px rgb(63, 63, 63), 0 0 1px rgb(62, 62, 80), 0 0 1px rgb(83, 78, 78);
   font-weight: 500;
  }
 

  .wordBistro {
    background-color: rgb(37, 39, 48, 0.5); 
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 20px 0;
}

  .letter { 
    filter: drop-shadow(0 2px 2px  rgb(161, 160, 158));
    width: 10vw; 
    max-width: 150px; 
  }






  .buttonContainer {
    flex-grow: 1; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
}


.btnPress {
    margin-top: auto; /* Отправляет .btnPress вниз */
    display: flex; /* Если в .btnPress несколько кнопок, они будут расположены в ряд */
    gap: 10px; /* Расстояние между кнопками */
    margin-bottom: 40px;
}
.btn3 {
    background-color: #c2a879; 
    border: none; 
    border-radius: 30px; 
    padding: 12px 20px; 
    font-size: 20px; 
    margin: 20px;
    cursor: pointer; 
    width: 18vw;
}
 .btn3:hover {
    background-color: #dfbe77; 
 }

.btn1, .btn2 {
    background-color: #ac1515; 
    color: white; 
    border: none; 
    border-radius: 30px; 
    padding: 12px 20px; 
    font-size: 20px; 
    margin: 5px; 
    cursor: pointer; 

    width: 18vw;
}

.btn1:hover, .btn2:hover {
    background-color: #ff0000; 
}


.uparrow {
    position: fixed;
    right: 50px;
    bottom: 20px;
    display: none;
    z-index: 10;
    background: rgb(240, 243, 247, 0.5);
 }







  #about {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.containerAbout {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px; 
    color: #fff;
}

.aboutHead {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    text-align: center; 
    margin-bottom: 20px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 20px;
    margin: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
}

.chefbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; 
}

.chef {
    width: 100%;
    max-width: 700px;
    box-shadow: 1px 1px 2px black, 0 0 25px rgb(62, 62, 80), 0 0 5px black;
}



/*Delivery*/

.phone {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.aboutPar {
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
}
.aboutPar1 {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
}



.containerDelivery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}
.grillRelative {
    position: relative;
    width: 400px;
    height: 250px;
    box-shadow: 1px 1px 2px rgb(73, 71, 71), 0 0 25px rgb(20, 20, 70), 0 0 5px rgb(51, 51, 51);
    border-radius: 8px;
    overflow: hidden;
}

.picDelivery {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grillText {
    position: absolute;
    font-size: 45px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-family: 'Balsamiq Sans', cursive;
    color: #fff;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(37, 37, 70), 0 0 5px black;
    
}

/*Discount*/
#discount {
    background-color: #e9e9f8;
}

.discountHead {
    text-align: center; 
    margin-bottom: 20px;
    
}
.discountH {
padding: 50px 0 0 0;
    font-size: 40px;

} 



.timerH {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;

}


.containerBlock {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #fff;
    width: 60vw;
}
.timer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.countDown {
   
    width: 100px;
    height: 130px;
    background-color: rgb(206, 94, 94); 
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 2px rgb(97, 97, 97), 0 0 25px brown, 0 0 5px rgb(207, 205, 205);
    margin-top: 30px;
    animation: animate 5s linear infinite;

}
@keyframes animate {
    from {
      filter: hue-rotate(0deg);
    }
    to {
      filter: hue-rotate(360deg);
    }
  }
  





.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 10px;
}
.days, .hours, .minutes, .seconds {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
   
}

.discount {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
  }




.boxStyle {
    display: flex;
    flex-direction: column;
    background-color: #e9e9f8;
   max-width: 400px;
   padding: 20px;
 margin: 20px;
   border-radius: 20px;
}


.box1 {
    box-shadow: 5px 10px 12px rgb(145, 145, 253);
}
.box2 {
    box-shadow: 5px 10px 12px  hsl(5, 79%, 77%);
}
.box3 {
    box-shadow: 5px 10px 12px rgb(171, 245, 171);
}
.box4 {
    box-shadow: 5px 10px 12px #94f6f8;
}
.box5  {
box-shadow: 5px 10px 12px #e2b8f5;
}
.box6 {
    box-shadow:5px 10px 12px  #71e6ce;
}

.picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.name {
    align-self: center;
   font-family: 'Bebas Neue', cursive;
    font-size: 26px;
}

.price {
    align-self: center;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 25px;
    font-weight: bold;
}
del {
    background-color: antiquewhite;
    padding: 5px;
}
ins {
    text-decoration: none;
    background-color: #fc3434;
    display: inline-block;
    transform: rotate(15deg);
    padding: 5px;
}

.cta {
    align-self: center;
    width: 60%;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    text-shadow:  1px 1px 2px rgb(63, 63, 63), 0 0 4px rgb(62, 62, 80), 0 0 2px rgb(83, 78, 78);
}
.cta:hover {
    color: #141212;
    text-shadow: none;
    font-weight: bolder;
}
.cta1 {
    background-color: rgb(145, 145, 253);
}
.cta2 {
    background-color: hsl(5, 79%, 77%);
}
.cta3 {
    background-color:rgb(171, 245, 171);
}
.cta4 {
    background-color: #94f6f8;
}
.cta5 {
background-color: #e2b8f5;
}
.cta6 {
background-color: #71e6ce;
}
/*Reservation*/
#reservation {
   background-color: #212222;
    min-height: 100vh;
    align-items: center;
}
.resVideo {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#myvideo {
    width: 100vh;
}


.reservation {
   
    display: flex;
   flex-direction: column;
   align-items: center;
   
    border: 1px solid black;
    width: 100vh;
    margin: 5px;
    padding: 5px;
    box-shadow:  1px 1px 2px black, 0 0 25px rgb(62, 62, 80), 0 0 5px black;
}
.res {
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    color: aliceblue;
    text-shadow:  1px 1px 2px black, 0 0 25px brown, 0 0 5px black;
    

}

.btnRes {
    border-radius: 30px;
    padding: 12px;
    font-size: 20px;
    background-color: #c00404;
}
input {
    background-color: rgb(253, 247, 247);
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px; 
    width: 100%; 
    box-sizing: border-box; 
}
.headRes {
    color: aliceblue;
    font-size: 35px;
    text-shadow:  1px 1px 2px black, 0 0 25px brown, 0 0 5px black;
}

/*Contact*/
#contact {
    padding: 20px;
    background-color: #18191f;
    color: #f3faf9;
}
.contactContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
.adresContainer {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 500px;
}
.address {
    align-self: center;
    color: #f3faf9;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}
.contactH {
    font-size: 35px;
    margin: 20px;
}
.term, .term1 {
    text-decoration: none;
    color: #f3faf9;
}
.term1 {
    display: block; 
    margin-bottom: 10px; 
}
#instagram, #whatsapp, #telegram {
    font-size: 4em;
    background-color: #18191f;
    color: #b8b4b4;
    box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
                2px 2px 10px #00000080, 2px 2px 3px #00000080,
                inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
                inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080;
    border-radius: 29px;
    padding: 11px 19px;
    margin: 0 40px;
    animation: animate 3s linear infinite;
    text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff,
                 0 0 150px #0072ff, 0 0 200px #0072ff;
}
#instagram { animation-delay: 1.5s; }
#whatsapp { animation-delay: 3.0s; }
#telegram { animation-delay: 4.5s; }
.containerApps {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/*


.contactContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  height: 100vh;
  background: #18191f;
  align-items: center;
}

.adresContainer {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 500px;
}
.address {
    align-self: center;
    color: #f3faf9;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.contactH {
    font-size: 35px;
    margin: 20px;
    
}


.term {
  text-decoration: none;
}
.term1 {
  text-decoration: none;
  color: #f3faf9;
}



#instagram {
    animation-delay: 0.3s;
  }
  #whatsapp {
    animation-delay: 0.7s;
  }
  #telegram {
    animation-delay: 0.1s;
  }
  
.containerApps {
    display: flex;
    justify-content: center;
    align-items: center;
 height: 100vh;
  }
 















/*

.menu {
    display: flex;
    justify-content: space-around;
}

.btnRed {
    width: 700px;
    display: flex;
   justify-content: space-between;
    
}



.buttonContainer {
    display: flex;
    flex-direction: column;
  width: 100%;
  height: 750px;
 
}


.billShare {
    
   align-self: flex-end;
}
.btn3 {
    width: 280px;
    height: 80px;
    font-family: 'Montserrat', sans-serif;
    background-color: hsla(197, 20%, 93%, 0.7);
    font-size: 24px;
    margin-top: 10px;
    margin-right: 10px;

}
.btnPress {
    align-self: center;
    justify-content: space-evenly;
    width: 800px;
    margin-top: 200px;

}
.btn1  {
    color: #fff;
    background-color: #CE2020;
    width: 280px;
    height: 80px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    }

.btn2 {
    color: #fff;
    background-color: #CE2020;
    width: 280px;
    height: 80px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.space {display: flex;
    justify-content: space-evenly;

}




.header, .head {
    display: flex;
    justify-content: center;
    font-family: 'Balsamiq Sans', cursive;
    text-shadow:  1px 1px 2px rgb(63, 63, 63), 0 0 1px rgb(62, 62, 80), 0 0 1px rgb(83, 78, 78);
}
.header {
font-size: 40px;
}
.head {
    font-size: 35px;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container1, .container2, .container3,
.container4, .container5, .container6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}




.cta11 {
    padding: 10px;
    margin: 1px;
    border-radius: 20px;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    width: 250px;
    text-shadow:  1px 1px 2px rgb(63, 63, 63), 0 0 4px rgb(62, 62, 80), 0 0 2px rgb(83, 78, 78);
}
.cta11:hover {
    color: #502d2d;
    text-shadow: none;
    font-weight: bolder;
}








.dateTime {
    display: flex;
}


video {
    width: 750px;
    height: 422px;
    box-shadow:  1px 1px 2px black, 0 0 25px rgb(62, 62, 80), 0 0 5px black;
    align-self: center;
}


  .containerApps {
      align-self: center;
      margin-top: 80px;
  }




.red {
    font-size: 40px;
    border: none;
    color: red;
    font-family: 'Staatliches', cursive;
}


body.fonMenu {
  background-image: none;
  background-color: #f3faf9;
}




iframe {
    width: 600px;
    height: 420px;
}




@media all and (max-width: 1600px) {
    .letterB {
        margin-left: 250px;
    }
    .btn3 {
        margin-right: 60px ;
    }

}





@media all and (max-width: 1280px) {
    .letterB {
        margin-left: 150px;
      
    }
    .btn3 {
        margin-right: 40px ;
    }
    .nav-item {
        margin-left: 50px;
    }
    .contactContainer {
        height: 150%;
    }
}
  


@media all and (max-width: 912px) {
   
.letter {
    width: 120px;
    margin-top: 30px;
}

.letterB {
    margin-left: 100px;
}
.wordBistro {
    width: 912px;
    height: 170px;
}

.buttonContainer {
    width: 880px;
    height: 1100px;
    margin-left: 20px;
    
   }

 
        .boxCalculate  {
            width: 910px;
          
        }
        #showTotalAmountToPay {
            font-size: 25px;
        }
        .h1 {
            margin-top: 40px;
            font-size: 60px;
        }
          #billSplit, #totalTip,#totalAmount {
              width: 220px;
              height: 150px;
              padding: 10px;
      
          }
          #container {
              width: 800px;
              height: 900px ;
          }


    body {
        background-image: url(rest1.jpg);  
        height: 100vh;
        width: 912px;
        }
        .buttonContainer {
            height: 1110px;
           }
           .billShare {
               margin-top: 100px;
           }
           .btnPress {
              margin-top: 600px;
           }
 .containerAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 905px;
}       
.chef {
    margin-top: 30px;
}

.phone {
    width: 800px;
}
.containerDelivery {
    width: 900px;
}
.grillRelative {
    width: 390px;
}
.picDelivery {
    width: 390px;
}
.discountHead {
    width: 900px;
}
.timer {
    width: 900px;
    height: 230px;
}

.boxStyle {
    max-width: 400px;
}
.picture {
    width: 350px;
    height: 220px;
}
footer {
    font-size: 30px;
    width: 900px;
}
iframe {
    width: 500px;
    height: 300px;
    margin-bottom: 40px;
}
 }  




@media all and (max-width: 820px) {

body {
    height: 114vh;
}
.buttonContainer {
 height: 1100px;
}
}




@media all and (max-width: 768px) {
 

 .wordBistro {
     height: 180px;
     width: 768px;
 }
 .letter {
     width: 100px;
 } 
 .letterB {
     margin-left: 70px;
 }
 .buttonContainer {
    height: 700px;
    width: 740px;
   }
.space {
    width: 680px;
    margin-left: 30px;
}
.btnPress {
    width: 730px;
}
   .btn3 {
    width: 280px ;
    height: 80px;
    font-size: 24px;
}
.btn1, .btn2 {
    width: 280px;
    height: 80px;
    font-size: 24px;
}
.btnPress {
margin-top: 320px;
}
body, html {
    height: 1100px;
    width: 768px;
}
.containerAbout {
    width: 730px;
    margin-left: 20px;
}
 
.about {
    margin-top: 120px;
    width: 730px;
}
.aboutPar {
    width: 680px ;
    margin-left: 20px;
}
.containerDelivery {
    width: 760px;
 
}
 .phone {
     width: 720px;
     margin: 5px;
 }

 .grillRelative {
    width: 320px;
    height: 200px;
}
.picDelivery {
    width: 320px;
    height: 200px;
}
.grillAbsolute {
    font-size: 40px;
    margin-top: -50px;
    margin-left: 50px;
}
.grillAbsolute1 {
    font-size: 40px;
    margin-top: -30px;
    margin-left: -30px;
}
.discount {
    width: 750px;
}
.dicountHead {
    width: 700px;
}
.timer {
    width: 730px;
}
.containerBlock {
    width: 730px;
}
.name {
    font-size: 20px;
}
.cta {
    font-size: 20px;
}

 .containerBlock {
     width: 760px;
 }

 .boxStyle {
     width: 330px;
 }
 .picture {
     width: 290px;
     height:190px ;
 }
 .reservation {
     width: 760px;

 }

 .resVideo {
     width: 730px;
     margin-left: 20px;
 }
 footer {
    width: 750px;
}
#instagram,
#whatsapp,
#telegram {
   font-size: 4em;
   padding: 12px 16px;
   margin: 0 40px;
}


}



@media all and (max-width: 600px) {
    body, html {
        height: 1024px;
        width: 600px;
    }
    .letter {
        width: 85px;
        margin-top: 30px;
    }
    
    .letterB {
        margin-left: 40px;
    }
    .wordBistro {
        width: 600px;
        height: 120px;
    }
    .buttonContainer {
        height: 480px;
        width: 500px;
       }
    
       .btnPress {
           position: absolute;
           width: 250px;
           height: 280px;
           display: flex;
           justify-content: center;
         
       }
       .space {
           display: flex;
           flex-direction: column;
           width: 500px;
       }
       .containerAbout {
           margin-top: 180px;
        width: 580px;
        display: flex;
        flex-direction: column;
        margin-left: 8px;
    
    }
    .about {
        width: 580px;
    }
    .chef {
        margin-top: 30px;
        width: 550px;
       
    }
    .aboutPar {
        width: 500px ;
    }
    
   
    .containerDelivery {
        width: 590px;
     
    }
     .phone {
         width: 590px;
         margin: 5px;
     }
    
     .grillRelative {
        width: 320px;
        height: 200px;
    }
    .picDelivery {
        width: 320px;
        height: 200px;
    }
    .grillAbsolute {
        font-size: 40px;
        margin-top: -50px;
        margin-left: 50px;
    }
    .grillAbsolute1 {
        font-size: 40px;
        margin-top: -30px;
        margin-left: -30px;
    }
    .discount {
        width: 590px;
    }
    .dicountHead {
        width: 590px;
    }
    .timer {
        width: 590px;
    }
    .containerBlock {
        width: 590px;
    }
    .name {
        font-size: 20px;
    }
    .cta {
        font-size: 20px;
    }
    
     .containerBlock {
         width: 590px;
     }
    
     .boxStyle {
         width: 330px;
     }
     .picture {
         width: 290px;
         height:190px ;
     }
     .reservation {
         width: 590px;
    
     }
    .resVideo {
        width: 580px;
    }

     footer {
        width: 590px;
    }
    #instagram,
    #whatsapp,
    #telegram {
       font-size: 3em;
       padding: 12px 16px;
       margin: 0 40px;
    }
  
    }
    









@media all and (max-width: 540px) {


   body,html {
       height: 720px;
       width: 540px;
   }
.letter {
    width: 60px;
    margin-top: 30px;
}

.letterB {
    margin-left: 90px;
}
.wordBistro {
    width: 540px;
    height: 120px;
}
.buttonContainer {
 height: 480px;
 width: 500px;
}
.btnPress {
    position: absolute;
    width: 250px;
    height: 280px;
    display: flex;
    justify-content: center;
  
}
.space {
    display: flex;
    flex-direction: column;

}
.btn1{
 width: 200px;
 font-size: 18px;
}
.btn2 {
width: 200px;
font-size: 18px;
}
.btn3{
    width: 150px;
    height: 60px;
    font-size: 18px;
}
.btnPress {
   margin-top: 200px;
}

.containerAbout {
    width: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -30px;
}
.aboutPar {
    width: 400px;
    margin-left: 30px;
}
.about {
    width: 480px;
}

.chef {
    margin-top: 30px;
    width: 480px;
}

.days, .hours, .minutes, .seconds {
   
    font-size: 50px;
   
}
.containerDelivery {
    width: 500px;
}
.picDelivery {
    width: 400px;
    height: 250px;
}
.grillRelative {
    width: 400px;
    height: 250px;
}
.dicountHead {
    width: 450px;
}
.grillAbsolute {
    margin-top: 2px;
    margin-left: 20px;
}
.grillAbsolute1 {
    margin-top: 10px;
    margin-left: 30px;
}
.timer {
    width: 500px;
}
.containerBlock {
    width: 500px;
    margin-left: 30px;

}
.discount {
    width: 500px;
    margin-left: 20px;
}
.name { 
    font-size: 30px;
   
}
.picture {
    height: 250px;
    width: 360px;
}
.phone {
    width: 500px;
}
.boxStyle {
    width: 480px;
}

.resVideo {
    width: 480px;
}
#myvideo {
width: 450px;
height: 255px;
}
    .contactContainer {

        height: 1000px;
    }
    .adresContainer {
        width: 500px;
    }
   footer {
       width: 520px;
       font-size: 15px;
   }
   iframe {
       width: 400px;
       height: 300px;
   }
}









@media all and (max-width: 414px) {
    body.fon {
        height: 915px;
        width: 414px;
    }
    .boxCalculate {
        width: 400px;
        height: 650px;
        margin-left: 5px;
    }
    #container {
        width: 400px;
      
    }
    #showTotalAmountToPay {
        width: 300px;
    }
    #billSplit, #totalTip,#totalAmount {
        width: 100px;
        padding: 10px;
    }
    .boxStyle {
        max-width: 365px;
        padding: 20px;
        margin: 20px;
     }
     .picture {
         width: 330px ;

     }


     body, html {
        height: 896px;
        width: 414px;
       
    }
 .letter {
     width: 55px;
     margin-top: 30px;
 }
 .btn3 {
    width: 200px;
 }
 .letterB {
     margin-left: 10px;
 }
 .wordBistro {
     height: 120px;
     width: 414px;
 }
 .buttonContainer {
  height: 460px;
  width: 380px;
 }
 .btnPress {
 margin-top: 300px;
 }

 .containerAbout {
     width: 380px;
     margin-top: 20px;
 }
 .about {
     margin-top: 180px;
     width: 360px;
 }
 .aboutPar {
     font-size: 20px;
    width: 300px;
    margin: 10px;
 }
 .chef {
     margin-top: 30px;
     width: 320px;
 }

 .phone {
     margin-left: 50px;
     width: 320px;
 }
.containerDelivery {
    width: 320px;
    margin-left: 40px;
}
.grillRelative {
    width: 320px;
}
.picDelivery {
    width: 320px;
}
.grillAbsolute1 {
    margin-left: -30px;
}

.dicountHead {
    width: 320px;
}
.timer {
    width: 380px;
}
 .containerBlock {
     width: 360px;
 }
 .timerH {
     margin-left: 40px;
 }
 .countDown {
     width: 70px;
     height: 100px;
 }

 .days, .hours, .minutes, .seconds {
    margin-top: 10px;
     font-size: 30px;
    
 }
h5 {
    font-size: 15px;
}
 .discount {
     width: 390px;
 }
 .boxStyle {
     width: 360px;
 }
 .cta {
     font-size: 30px;
 }
 .picture {
     width: 300px;
     height: 200px;
 }
 .resVideo {
     width: 360px;
 }
 .reservation {
    width: 360px;
    margin-left: 16px;
}
.dateTime {
    display: flex;
    flex-direction: column;
}

 #myvideo {
    margin-top: 20px;
    width: 360px;
    height: 203px;
    margin-left: 2px;
     }
     .contactContainer {
         height: 1000px;
     }
     .adresContainer {
         width: 380px;
     }
    
   
     #instagram,
     #whatsapp,
     #telegram {
        font-size: 2em;
        margin: 0 20px;
     }
footer {
    width: 400px;
    font-size: 15px;
}
iframe {
    width: 320px;
    height: 280px;
}
}




@media all and (max-width: 393px) {
    .letterB {
        margin-left: 20px;
    }
    .chef {
        width: 360px;
    }
    .picDelivery, .grillRelative {
        width: 340px ;
        height: 220px;
    }
    .grillAbsolute {
        font-size: 35px;
        width: 200px;
        margin-left: 60px;
        margin-top: -30px
    }
     .grillAbsolute1 {
       margin-top: -20px
     }
    .discountH {
        margin-left: 60px;
    }
    .timerH {
        margin-left: 50px;
    }
  
    .adres {
        width: 300px;
        margin-left: 90px;
    }
    #reservation {
        width: 393px;
    }
    .resVideo {
        width: 393px;
    }
}






@media all and (max-width: 375px) {
 

    body, html {
        height: 667px;
        width: 375px;
       
    }
 .letter {
     width: 50px;
     margin-top: 30px;
 }
 .btn3 {
    width: 150px;
    font-size: 15px;
    margin-right: 10px;
    margin-top: 1px;
    
 }
 .btn1, .btn2 {
     width: 180px;
     height: 70px;
     margin-left: 20px;
 }
 .letterB {
     margin-left: 30px;
 }
 .wordBistro {
     height: 120px;
     width: 375px;
 }
 .buttonContainer {
  height: 280px;
  width: 330px;
 }
 .btnPress {
 margin-top: 170px;
 }

 .containerAbout {
     margin-top: 150px;
     width: 370px;
 }
 .about {
     margin-top: 5px;
     width: 340px;
     margin-left: -50px;
 }
 .chef {
     margin-top: 30px;
     width: 350px;
 }
 .phone {
     width: 80%;
 }
 .aboutHead {
     font-size: 30px;
 }
 .aboutPar {
     font-size: 15px;
     margin-left: 50px;
 }

.containerDelivery {
    width: 320px;
    margin-left: 20px;
}

.picDelivery, .grillRelative {
    width: 300px ;
}
 .grillAbsolute {
     font-size: 30px;
     width: 200px;
     margin-left: 40px;
 }
 .containerBlock {
     width: 360px;
 }
 .timerH {
     margin-left: 40px;
 }
 .countDown {
     width: 60px;
 }

 .days, .hours, .minutes, .seconds {
    margin-top: 10px;
     font-size: 30px;
    
 }
 h5 {
     font-size: 13px;
 }
 .boxStyle {
     width: 350px;
 }
 .picture {
     width: 300px;
 }
.discount {
    width: 370px;
}
 .reservation {
     width: 350px;
  
 }
 .adres {
     margin-left: 50px;
 }
 .resVideo {
     width: 340px;
     margin-left: 20px;
 }
 .dateTime {
     display: flex;
     flex-direction: column;
 }
 video {
    margin-top: 20px;
    width: 350px;
    height: 198px;
     }

     .contactContainer {
        width: 375px;
        height: 1000px;
     }
     .adresContainer {
        width: 320px;
     }
    
   
     #instagram,
     #whatsapp,
     #telegram {
        font-size: 3;
        margin: 0 30px;

     }
footer{
    font-size: 15px;
width: 350px;
}
iframe {
    width: 300px;
    height: 250px;
}
}











@media all and (max-width: 360px) {


   body, html {
        height: 740px;
        width: 360px;
       
    }
    .containerAbout {
        width: 330px;
        margin-top: 150px;
    }
    .wordBistro {
        height: 80px;
        width: 360px;
    }
.letter {
    margin-top: 15px;
}
.letterB {
    margin-left: 20px;
}
    
 .buttonContainer {
    height: 370px;
    width: 300px;
   }
   .btn3 {
 
    width: 150px;
    height: 40px;
    font-size: 12px;
 }
 .btn1, .btn2 {
    width: 160px;
    height: 50px;
    font-size: 14px;
}
.chef {
    margin-top: 20px;
    width: 290px;
}
   
.about {
    margin-top: 2px;
    width: 300px;
}
.phone {
    width: 300px;
    margin-left: 10px;
}
.aboutPar {
    width: 300px;
    margin-left: 40px;
}

.containerDelivery {
    width: 340px;
}

 .grillRelative {
     width: 280px;
     height: 180px;
     margin-left: -10px;
  
 }
 .picDelivery {
    height: 180px;
     width: 280px;
   
 }
.box {
    width: 310px;
    margin-left: 1px;
}
.picture {
    width: 270px;
    height: 160px;
}
.headRes {
    font-size: 30px;
}
 .discount {
    width: 350px;
}
.timer {
    width:340px ;
    margin-left: 5px;
}
.reservation {
    width: 330px;
    margin-left: 2px;
 }

 #myvideo {
     width: 330px;
     height: 185px;
     margin-left: -20px;
 }
 .phone {
     width: 300px;
     margin-left: 30px;
 }
 .grillAbsolute {
     margin-left: 50px;
     margin-top: -50px;
 }
 .grillAbsolute1 {
    margin-left: -50px;
    margin-top: -40px;
}
.containerBlock {
    width: 320px;
    margin-left: 5px;
}
.discount {
    width: 340px;
}
.reservation {
    width: 300px;
}
.contactContainer {
    width: 360px;
 }
 iframe {
    width: 300px;
    height: 250px;
}
#instagram,
#whatsapp,
#telegram {
   font-size: 2em;
   margin: 0 10px;
}
}




@media all and (max-width: 320px)  {
 .navbar {
     width: 320px;
 }
 body, html {
     width: 320px;
 }
    .container-fluid {
        width: 320px;
    }
    .wordBistro {
        height: 80px;
        width: 320px;
    }
    .letter {
        width: 45px;
    }

    .navbar-brand {
        margin-left: 20px;
    }
    .aboutPar {
        width: 260px;
        margin-left: 40px;
    }

    .containerAbout {
        width: 300px;
    }
    .phone {
        width: 300px;
        margin-left: 5px;
    }
    .aboutPar1 {
        font-size: 15px;
        margin-left: 10px;
    }
    .containerDelivery {
        width: 300px;
        margin-left: 5px;
    }
    .picDelivery {
        width: 250px;
    }
    .grillRelative {
        width: 250px;
        margin-left: 20px;
    }
    .timer {
        width: 300px;
    }
    .timerH {
        font-size: 25px;
        width: 200px;
    }
    .containerBlock {
        width: 300px;
    }
    .discount {
        width: 300px;
    }
    .box {
        width: 290px;
    }
    .picture {
        width: 240px ;
    }
    .name {
        font-size: 25px;
    }
    .price {
        font-size: 25px;
    }
    .cta {
        font-size: 20px;
    }
.resVideo {
    width: 310px;
}
.reservation {
    width: 300px;
}
.btnRes {
    font-size: 20px;
}
#myvideo {
    width: 290px;
    height: 163px;
}
.contactContainer {
    width: 320px;
    height: 800px;
}
.adresContainer {
    height: 440px;
}
iframe {
    width: 250px;
    height: 180px;
}
.map {
    margin-top: -180px;
}
.contactH {
    font-size: 30px;
    margin-top: -35px;
}
.containerApps  {
    height: 100px;
}
footer {
    width: 300px;
}
}





@media all and (max-width: 280px) {
  
    
    body, html {
        height: 653px;
        width: 280px;
       
    }
.navbar {
    width: 280px;
}
 .btn3 {
    width: 180px;
    height: 50px;
    font-size: 13px;
 }
 .letterB {
     margin-left: 12px;
 }
 .wordBistro {
     height: 80px;
     width: 280px;
 }
 .letter {
     width: 38px;
 }
 .buttonContainer {
  height: 370px;
  width: 250px;
 
 }
 .btn3 {
     width: 120px ;
     font-size: 13px;
 }
 .btn1, .btn2 {
     width: 160px;
     height: 60px;
     font-size: 14px;
 }
 .btnPress {
 margin-top: 160px;
 }

 .containerAbout {
     width: 270px;
 }
 .about {
     margin-top: 20px;
     width: 260px;
 }
 .chef {
     margin-top: 30px;
     width: 260px;
 }
 .phone {
     width: 270px;
 }
.containerDelivery {
width: 260px;
}
.aboutPar {
    width: 230px ;
}
.picDelivery, .grillRelative {
    width: 230px ;
    height: 160px;
    
}
.grillRelative {
    margin-left: 20px;
}
.grillAbsolute1 {
    font-size: 30px;
}
.grillAbsolute {
    font-size: 25px;
    margin-left: -7px;
}
.countDown {
width: 50px;

}
.timer {
    margin: 10px;
}
h5 {
    font-size: 10px;
}
.name {
    font-size: 20px;
}
.cta {
    font-size: 20px;
}

 .containerBlock {
     width: 200px;
 }

 .boxStyle {
     width: 260px;
 }
 .picture {
     width: 210px;
     height:140px ;
 }
 .dicountHead {
     width: 260px;
 }
.timer {
    width: 270px;
}
.discount {
    width: 270px;
}
.boxStyle {
    width: 250px;
}



 .reservation {
     width: 260px;
     margin-left: 2px;

 }
 .resVideo {
     width: 270px;
 }
 .headRes {
     font-size: 20px;
 }
 .dateTime {
     display: flex;
     flex-direction: column;
 }
 .btnRes {

     width: 150px;
     font-size: 15px;
 }

 #myvideo {
    width: 255px;
    height: 144px;

     }
     .contactContainer {
         width: 280px;
         height: 1000px;
     }
     .adresContainer {
         width: 260px;
         margin-left: 20px;
     }
    .contactH {
        margin-left: 15px;
    }
   .adres {
       margin-left: 25px;
   }
     #instagram,
     #whatsapp,
     #telegram {
        font-size: 2em;
        padding: 8px 14px;
        margin: 0 10px;
     }
     footer {
         width: 270px;
     }
     iframe {
         width: 240px;
         height: 180px;
     }
}

*/
@media all and (max-width: 970px) {
    .btnPress {
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
    }
    .btn1, .btn2, .btn3 {
        width: 27vw;
        font-size: 16px;
    }
}


@media (max-width: 768px) {
    .nav-item {
        font-size: 20px;
    }
    .responsive-logo {
        height: 50px; /* Уменьшаем высоту на планшетах */
    }
    .letter {
        width: 15vw; /* Увеличим относительную ширину для мобильных */
    }

    .about {
        width: 90%; 
        font-size: 18px;
    }

    .aboutHead {
        font-size: 32px; 
    }

    .chef {
        width: 80%; 
    }
}

@media (max-width: 550px) { 
    .btn1, .btn2, .btn3 {
        width: 47vw; 
    }
    .responsive-logo {
        height: 40px; /* Уменьшаем высоту на мобильных устройствах */
    }
  }
